<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        <link rel="stylesheet" href="../styles/resets.scss">
        <link rel="stylesheet" href="../styles/base.scss">
        <link rel="stylesheet" href="../styles/header.scss">
        <link rel="stylesheet" href="../styles/form.scss">
        <link rel="stylesheet" href="../styles/footer.scss">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)" id="form" method="post">
                    <input id="name" type="text" name="input" value placeholder="Name">
                    <input type="submit" id="submit" value="submit" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <p id="error"></p>
            </section>

            <section id="results">
                <strong>Form Results:</strong>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="score_tag"></div>
            </section>
        </main>
    </body>
</html>